name: Auto Inject AdSense
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4
    
    - name: Inject AdSense
      run: |
        find . -name "*.html" -not -path "./.github/*" -exec sed -i '/<\/head>/i <script async src=\"https:\/\/pagead2.googlesyndication.com\/pagead\/js\/adsbygoogle.js?client=ca-pub-1876390706944654\" crossorigin=\"anonymous\"><\/script>' {} \;
    
    - name: Setup Pages
      uses: actions/configure-pages@v5
    
    - name: Upload Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: '.'
    
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./
